@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@using Newtonsoft.Json

@{
    GoodsEnterprise.Model.Models.Admin admin = null;
    try
    {
        byte[] value = null;
        if (_httpContextAccessor.HttpContext.Session.TryGetValue("LoginSession", out value) && value != null)
        {
            var sessionString = System.Text.Encoding.UTF8.GetString(value);
            if (!string.IsNullOrEmpty(sessionString))
            {
                admin = JsonConvert.DeserializeObject<GoodsEnterprise.Model.Models.Admin>(sessionString);
            }
        }
        
        // Redirect to login if no valid session
        if (admin == null && !Context.Request.Path.StartsWithSegments("/Login"))
        {
            Context.Response.Redirect("/Login");
            return;
        }
    }
    catch (Exception ex)
    {
        // Log error and redirect to login
        System.Diagnostics.Debug.WriteLine($"Session error: {ex.Message}");
        if (!Context.Request.Path.StartsWithSegments("/Login"))
        {
            Context.Response.Redirect("/Login");
            return;
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoodsEnterprise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href=" https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />*@
    <link href="~/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/LeftMenu.css" rel="stylesheet" />
    <link href="~/css/modern-components.css" rel="stylesheet" />
    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <style>
        .border-top {
            border-top: none !important;
        }
    </style>

</head>
<body>



    <header>
        <div class="wrapper">
            <nav id="sidebar" class="modern-sidebar">
                <div class="sidebar-header">
                    <div class="brand-container">
                        <div class="brand-icon">
                            <svg width="32" height="32" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="brand-text">
                            <h3 class="brand-title">GoodsEnterprise</h3>
                            <span class="brand-subtitle">Management System</span>
                        </div>
                    </div>
                </div>

                <div class="sidebar-menu">
                    <ul class="list-unstyled components" id="mainmenu">
                  
                    </ul>
                </div>
                 
            </nav>
            <div id="contentHeader">
                <nav class="modern-header">
                    <div class="header-container">
                        <div class="header-left">
                            <button type="button" id="sidebarCollapse" class="modern-sidebar-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <div class="page-title">
                                <h1 id="currentPageTitle"></h1>
                            </div>
                        </div>
                        
                        <div class="header-right">
                            @if (admin != null)
                            {
                                <div class="user-menu-container">
                                    <div class="dropdown">
                                        <button class="modern-user-menu-btn" type="button" data-toggle="dropdown" aria-expanded="false">
                                            <div class="user-avatar">
                                                <svg width="24" height="24" fill="currentColor" viewBox="0 0 20 20">
                                                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                                                </svg>
                                            </div>
                                            <div class="user-info">
                                                <span class="user-name">@admin.FirstName</span>
                                                <span class="user-role">Administrator</span>
                                            </div>
                                            <div class="dropdown-arrow">
                                                <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20">
                                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                                </svg>
                                            </div>
                                        </button>
                                        <div class="dropdown-menu modern-user-dropdown">
                                            <div class="user-dropdown-header">
                                                <div class="user-avatar-large">
                                                    <svg width="32" height="32" fill="currentColor" viewBox="0 0 20 20">
                                                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                                                    </svg>
                                                </div>
                                                <div class="user-details">
                                                    <span class="user-name-large">@admin.FirstName</span>
                                                    <span class="user-email">@admin.Email</span>
                                                </div>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-route-adminId="@admin.Id" asp-page-handler="Edit" asp-page="/Admin">
                                                <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20">
                                                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                                </svg>
                                                Update Profile
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20">
                                                    <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
                                                </svg>
                                                Settings
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item logout-item" asp-page-handler="LogOut" asp-page="/Login">
                                                <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20">
                                                    <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path>
                                                </svg>
                                                Sign Out
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </nav>
            </div>
            <div id="content">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
            @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 mainmenu" id="mainmenu">
                    </ul>
                </div>*@
            @*<ul>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <label class="form-label">@admin.FirstName</label>
                            <hr style="border-top: 1px solid blue">
                            <li><i class="icon-arrow-up"></i><a asp-page-handler="LogOut" asp-page="/Login">Logout</a></li>
                            <li>
                                <i class="icon-arrow-down"></i><a asp-route-adminId="@admin.Id" asp-page-handler="Edit" asp-page="/Admin">Update Profile</a>
                            </li>

                        </ul>
                    </li>
                </ul>*@
        </div>


        @if (admin != null)
        {
            <input type="hidden" id="hdnRoleId" value="@admin.RoleId">
        }

    </header>


    <footer id="footer" class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GoodsEnterprise - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/datatables/js/jquery.dataTables.min.js"></script>

    <script src="~/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modern-interactions.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>




